node_modules/
build/
cjs/
coverage/
dist/
dts/
esm/
lib/
mjs/
umd/
*.d.ts
*.d.cts
*.d.mts
*.min.js
*.map
*.snap
deno
scripts
packages/plugin-prisma/prisma
packages/plugin-prisma/tests/generated.ts
examples/*/prisma/generated.ts
*.generated.ts
*.generated.tsx
.*.js
