node_modules/
build/
cjs/
coverage/
dist/
dts/
esm/
lib/
mjs/
umd/
*.d.ts
*.d.cts
*.d.mts
*.min.js
*.map
*.snap
deno
scripts
packages/plugin-prisma/prisma
packages/plugin-prisma/tests/generated.ts
packages/plugin-prisma/tests/client
packages/plugin-prisma/tests/generated.d.ts
packages/plugin-prisma-utils/prisma
packages/plugin-prisma-utils/tests/generated.ts
packages/plugin-prisma-utils/tests/client
packages/plugin-prisma-utils/tests/generated.d.ts
examples/*/prisma/generated.ts
packages/*/tests/generated.ts
generated.ts
*.generated.ts
*.generated.ts
*.generated.tsx
*.tsbuildinfo
.*.js
.turbo
tests/client/*
examples/*/prisma
packages/*/prisma
packages/plugin-prisma/tests/client
packages/plugin-prisma-utils/tests/client
packages/plugin-prisma-utils/bin/generator.js
packages/plugin-prisma/bin/generator.js
website/public
website/util/search-index.js
