.DS_Store
*.DS_Store

# Logs
logs/
*.log

# Cache
.axe/
.bundle/
.happo/
.idea/
.npm/
.vagrant/
/.vscode/
.yarnclean
.husky

# Directories
coverage/
dist/
lib/
!website/lib/
dts/
node_modules/
tmp/
.docz/
.pnpm-store
.turbo
.env
.source

# Custom
*.min.js
*.map

# Generated configs
.devcontainer

*.tsbuildinfo

# Local Netlify folder
.netlify

# Test artifacts
playwright-report/
test-results/
*.png
!website/public/**/*.png

CLAUDE.md
